.InputStyle {
    border: solid 1px black;
    background: white;
    padding: 4px;
    letter-spacing: 2px;
}

.InputBtnStyle {
    border: solid 1px black;
    background: white;
    padding: 4px;
    letter-spacing: 2px;
    cursor: pointer;
}

.Container {
    margin-bottom: 20px;
}